header {
    font-size: 50px;
    color: cadetblue;
    font-family: fantasy;
    text-align: center;
}
body {
    height: 500px;
    background-image:
        url(../imagenes/fondoindex.jpg);
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
}
form {
    text-align: center;
    color: darkcyan;
    font-size: 15px;
    font-family: cursive;
}
p {
    color: cyan;
    text-align: center;
    font-size: 20px;
    font-family: cursive;
}
footer{
    font-size: 10px;
    text-align: end;
    color: white;
    font-family: cursive;
}
img {
    width: 200px;
    height: 200px;
    transition: width 2s, height 2s;
}
img:hover{
    width: 400px;
    height: 400px;
}
@media screen and (min-width: 320px){
    header {
        font-size: 20px;
    }
    form {
        font-size: 20px;
    }
    p {
        font-size: 20px;
    }
    img {
        width: 100px;
        height: 100px;
    }
    img:hover{
        width: 200px;
        height: 200px;
    }
}
@media screen and (min-width: 800px){
    header {
        font-size: 40px;
    }
    form {
        font-size: 30px;
    }
    p {
        font-size: 30px;
    }
    img {
        width: 150px;
        height: 150px;
    }
    img:hover{
        width: 300px;
        height: 300px;
    }
}
@media screen and (min-width: 1024px){
    header {
        font-size: 40px;
    }
    form {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    img {
        width: 250px;
        height: 250px;
    }
    img:hover{
        width: 150px;
        height: 150px;
    }
}