body {
    background-color: rgb(176, 54,72);
    animation-name: example;
    animation-duration: 10s;
} 
@keyframes example {
    from {background-color: rgb(176, 54, 72);}
    to {background-color: rgb(196, 129, 4);}
}
header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  font-size: 30px;
  background-color: white;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}
main {
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: 15px;
  text-align: center;
}
#licencia {
  width: 100px;
  height: 25px;
}
#gif {
  width: 300px;
  height: 250px;
}
@media screen and (min-width:300px) {
  header {
    font-size: 15px;
  }
  #licencia {
    width: 50px;
    height: 10px;
  }
  #gif {
    width: 200px;
    height: 150px;
  }
}
@media screen and (min-width:800px) {
  header {
    font-size: 25px;
  }
  #licencia {
    width: 70px;
    height: 20px;
  }
  #gif {
    width: 250px;
    height: 200px;
  }
}
@media screen and (min-width:1024px) {
  header {
    font-size: 30px;
  }
  #licencia {
    width: 100px;
    height: 25px;
  }
  #gif {
    width: 300px;
    height: 250px;
  }
}