body {
    height: 500px;
    background-image: 
        radial-gradient(rgb(248, 0, 227), rgb(82, 0, 61));
    background-size: cover;
    background-repeat: repeat;
    background-position: center center;
    color: white;
}
.contenedor {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    font-family: cursive;
    color: white; 
    height: fit-content;
}
header{
    color: white;
    background-color: rgba(128, 128, 128, 0.829);
    text-align: center;
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    grid-column: 1/3;
    grid-row: 1;
}
p {
    color: white;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    grid-column: 1/3;
    grid-row: 2;
}
#pregunta {
    text-align: center;
    color: chocolate;
    background-color: rgba(0, 0, 0, 0.753);
    grid-column: 1/3;
    grid-row: 3;
}
footer {
    font-size: 10px;
    grid-column: 2;
    text-align: end;
}
@media screen and (min-width: 320px){
    header {
        font-size: 20px;
    }
    p {
        font-size: 15px;
    }
    .contenedor {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr;
        font-family: cursive;
        color: white; 
        height: fit-content;
    }
    footer {
        font-size: 10px;
        grid-column: 2;
        grid-row: 8;
        text-align: end;
    }
}
@media screen and (min-width: 800px){
    header {
        font-size: 30px;
    }
    p {
        font-size: 20px;
    }
    .contenedor {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        font-family: cursive;
        color: white; 
        height: fit-content;
    }
    footer {
        font-size: 10px;
        grid-column: 2;
        grid-row: 6;
        text-align: end;
    }
}
@media screen and (min-width: 1024px){
    header {
        font-size: 35px;
    }
    p {
        font-size: 20px;
    }
    .contenedor {
        display: grid;
        width: 100%;
        grid-template-columns: 1fr 1fr;
        font-family: cursive;
        color: white; 
        height: fit-content;
    }
    footer {
        font-size: 10px;
        grid-column: 2;
        grid-row: 6;
        text-align: end;
    }
}